
@{
    ViewData["Title"] = "Sobre";
}

<h2>Que bom que veio estudar conosco!!!</h2>

<h4>Quem sou eu?</h4>
<p>
    Fala pessoal, meu nome é <strong>Diego Neves</strong>, tenho 33 anos, paulistano, casado com a minha linda Tamires, pai do Bob, um labrador muito arteiro, corinthiano, amo música, toco bateria e tenho uma banda de rock, a <strong>@@banda.overclock</strong>, sou o criador dessa plataforma de estudos, trabalho como engenheiro de software, 
    estou na área de tecnologia a mais de 10 anos, tenho experiência em diversos nichos de
    mercado como e-commerce, jurídico, medicina legal, contábil, fiscal e atualmente atuo no setor financeiro. Estou em busca de algumas certificações técnicas <strong>AWS</strong>,
    em maio de 2022 consegui a minha primeira, a mais fundamental, que é <strong>AWS Certified Cloud Practitioner</strong>, agora darei um passo um pouco maior e quero obter a <strong>AWS Certified Developer - Associate</strong>.

    <h4>Como nasceu a plataforma?</h4>
<p>
    Como falei anteriormente, estou em curso de algumas certificações AWS, buscando na internet até consegui acesso a bons materiais de estudo em cursos diversos com
    especialistas da área, mas não achei nenhuma
    plataforma de baixo custo que me oferecesse uma experiência semelhante a da prova oficial, então decidi criar meu próprio
    simulador para melhor experiência de estudos, de início não tinha a intenção de disponibilizar ao
    público, não é a toa que nem nome a plataforma ainda tem (rs), contudo, convencido por alguns amigos, estou disponibilizando
    a mesma na web, contudo, preciso cobrar uma taxa para usar, para que a plataforma, pelo menos, se sustente.
</p>

<h4>Porque o uso da plataforma é cobrado?</h4>
<p>
    Pelo simples fato que manter uma aplicação na web (ainda mais em tempos de dólar alto), gera vários custos e quanto mais a comunidade de usuários cresce,
    mais custosa a plataforma se torna, minha ideia é cobrar anualmente uma taxa de <strong>R$30,00</strong> e assim viabilizar a sua manutenção.
    Pelo preço de um café com pão de queijo no Graal, você pode usar simulados das certificações mais desejadas do mercado, com questões desenvolvidas por especialistas do mercado,
    com uma experiência bem próxima da prova real quando se diz modelo de pergunda, interface e sistema de pontuação.
</p>

<h3>Importante!!!</h3>
<p>
    Essa plataforma ainda está em desenvolvimento, antes de entrar para a comunidade, verifica se o simulado do exame AWS almejado já está disponível!
</p>

<h4>Por curiosidade, como essa aplicação foi feita?</h4>
<p>
    Orgulhosamente usando ASP.NET Core, C#, o bom e velho SQL Server e muita vontade de ajudar a nossa
    comunidade de desenvolvedores, analistas, engenheiros, arquitetos, gerentes, etc.
</p>
<h4>Vamos conversar?</h4>
<p>
    Dúvidas? Sugestões? Quer me pagar uma café? Me procura lá no <strong><a href="https://www.linkedin.com/in/diegodeoliveiraneves/" target=”_blank”>LinkedIn</a></strong>, vamos bater um papo, até mais pessoal!!!
</p>