USE [SimuladoCertificacao]
GO
/****** Object:  Table [dbo].[Anotacao]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anotacao](
	[CodigoAnotacao] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [varchar](1000) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoPergunta] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dominio]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dominio](
	[CodigoDominio] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](255) NOT NULL,
	[CodigoProva] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoDominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogDeErro]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDeErro](
	[CodigoLogDeErro] [int] IDENTITY(1,1) NOT NULL,
	[Erro] [varchar](max) NOT NULL,
	[Acao] [varchar](200) NOT NULL,
	[CodigoUsuario] [int] NULL,
	[DataHoraDoErro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoLogDeErro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdemResposta]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdemResposta](
	[CodigoSimulado] [int] NOT NULL,
	[CodigoPergunta] [int] NOT NULL,
	[CodigoQuestao] [int] NOT NULL,
	[CodigoResposta] [int] NOT NULL,
	[Ordem] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pergunta]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pergunta](
	[CodigoPergunta] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProva] [int] NOT NULL,
	[CodigoDominio] [int] NOT NULL,
	[MultiplaEscolha] [bit] NOT NULL,
	[Texto] [varchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prova]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prova](
	[CodigoProva] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoProva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questao]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questao](
	[CodigoQuestao] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSimulado] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[CodigoPergunta] [int] NOT NULL,
	[Acertou] [bit] NOT NULL,
	[UsadaNaPontuacao] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoQuestao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respondida]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respondida](
	[CodigoQuestao] [int] NOT NULL,
	[CodigoResposta] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resposta]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resposta](
	[CodigoResposta] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPergunta] [int] NOT NULL,
	[Texto] [varchar](max) NOT NULL,
	[Correta] [bit] NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoResposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoPorDominio]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoPorDominio](
	[ResultadoPorDominio] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSimulado] [int] NOT NULL,
	[CodigoDominio] [int] NOT NULL,
	[QuantidadeDeQuestoes] [int] NOT NULL,
	[Corretas] [int] NOT NULL,
	[Erradas] [int] NOT NULL,
	[Percentual] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoPorDominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulado]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulado](
	[CodigoSimulado] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoProva] [int] NOT NULL,
	[DataDoSimulado] [datetime] NOT NULL,
	[QuantidadeDeQuestoes] [int] NOT NULL,
	[PontosDisputados] [int] NOT NULL,
	[PontosConquistados] [decimal](18, 0) NOT NULL,
	[Percentual] [decimal](18, 0) NOT NULL,
	[Aprovado] [bit] NOT NULL,
	[TempoDeProvaEmMinutos] [int] NULL,
	[Finalizado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoSimulado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/03/2023 00:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[CodigoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[WhatsApp] [varchar](20) NOT NULL,
	[Administrador] [bit] NOT NULL,
	[Liberado] [bit] NOT NULL,
	[DataDeCadastro] [datetime] NOT NULL,
	[DataDeVencimento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anotacao] ON 

INSERT [dbo].[Anotacao] ([CodigoAnotacao], [Texto], [CodigoUsuario], [CodigoPergunta]) VALUES (1069, N'', 1, 86)
INSERT [dbo].[Anotacao] ([CodigoAnotacao], [Texto], [CodigoUsuario], [CodigoPergunta]) VALUES (1070, N'', 1, 87)
INSERT [dbo].[Anotacao] ([CodigoAnotacao], [Texto], [CodigoUsuario], [CodigoPergunta]) VALUES (1071, N'', 1, 110)
GO
SET IDENTITY_INSERT [dbo].[Anotacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Dominio] ON 

INSERT [dbo].[Dominio] ([CodigoDominio], [Descricao], [CodigoProva]) VALUES (1, N'Domínio 1: Implantação', 1)
INSERT [dbo].[Dominio] ([CodigoDominio], [Descricao], [CodigoProva]) VALUES (2, N'Domínio 1: Implantação', 2)
INSERT [dbo].[Dominio] ([CodigoDominio], [Descricao], [CodigoProva]) VALUES (3, N'Domínio 2: Segurança', 2)
SET IDENTITY_INSERT [dbo].[Dominio] OFF
GO
INSERT [dbo].[OrdemResposta] ([CodigoSimulado], [CodigoPergunta], [CodigoQuestao], [CodigoResposta], [Ordem]) VALUES (142, 140, 1858, 579, N'E')
INSERT [dbo].[OrdemResposta] ([CodigoSimulado], [CodigoPergunta], [CodigoQuestao], [CodigoResposta], [Ordem]) VALUES (142, 135, 1859, 561, N'A')
INSERT [dbo].[OrdemResposta] ([CodigoSimulado], [CodigoPergunta], [CodigoQuestao], [CodigoResposta], [Ordem]) VALUES (142, 135, 1859, 558, N'B')
GO
SET IDENTITY_INSERT [dbo].[Pergunta] ON 

INSERT [dbo].[Pergunta] ([CodigoPergunta], [CodigoProva], [CodigoDominio], [MultiplaEscolha], [Texto], [Ativo]) VALUES (5, 2, 2, 0, N'Você criou os seguintes estágios no CodePipeline: Source => Build => Staging. O que acontece se houver uma falha detectada no estágio "Build"?', 1)
INSERT [dbo].[Pergunta] ([CodigoPergunta], [CodigoProva], [CodigoDominio], [MultiplaEscolha], [Texto], [Ativo]) VALUES (31, 2, 5, 0, N'Qual serviço da AWS fornece recomendações de otimização de segurança de infraestrutura?', 1)
INSERT [dbo].[Pergunta] ([CodigoPergunta], [CodigoProva], [CodigoDominio], [MultiplaEscolha], [Texto], [Ativo]) VALUES (78, 2, 4, 0, N'Qual é o serviço usado para controle de código-fonte totalmente gerenciado, seguro e altamente escalável que hospeda repositórios privados do Git?', 1)
SET IDENTITY_INSERT [dbo].[Pergunta] OFF
GO
SET IDENTITY_INSERT [dbo].[Prova] ON 

INSERT [dbo].[Prova] ([CodigoProva], [Descricao], [Ativo]) VALUES (1, N'AWS Certified Cloud Practitioner', 1)
INSERT [dbo].[Prova] ([CodigoProva], [Descricao], [Ativo]) VALUES (2, N'AWS Certified Developer - Associate', 1)
INSERT [dbo].[Prova] ([CodigoProva], [Descricao], [Ativo]) VALUES (3, N'AWS Certified Solutions Architect - Associate', 1)
SET IDENTITY_INSERT [dbo].[Prova] OFF
GO
SET IDENTITY_INSERT [dbo].[Questao] ON 

INSERT [dbo].[Questao] ([CodigoQuestao], [CodigoSimulado], [Numero], [CodigoPergunta], [Acertou], [UsadaNaPontuacao]) VALUES (1725, 121, 1, 78, 0, 0)
INSERT [dbo].[Questao] ([CodigoQuestao], [CodigoSimulado], [Numero], [CodigoPergunta], [Acertou], [UsadaNaPontuacao]) VALUES (1726, 121, 2, 85, 0, 0)
INSERT [dbo].[Questao] ([CodigoQuestao], [CodigoSimulado], [Numero], [CodigoPergunta], [Acertou], [UsadaNaPontuacao]) VALUES (1727, 121, 3, 106, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Questao] OFF
GO
INSERT [dbo].[Respondida] ([CodigoQuestao], [CodigoResposta]) VALUES (1827, 443)
INSERT [dbo].[Respondida] ([CodigoQuestao], [CodigoResposta]) VALUES (1828, 530)
INSERT [dbo].[Respondida] ([CodigoQuestao], [CodigoResposta]) VALUES (1829, 329)
GO
SET IDENTITY_INSERT [dbo].[Resposta] ON 

INSERT [dbo].[Resposta] ([CodigoResposta], [CodigoPergunta], [Texto], [Correta], [Ativo]) VALUES (18, 5, N'Uma reversão acontecerá no stage "Fonte".', 0, 1)
INSERT [dbo].[Resposta] ([CodigoResposta], [CodigoPergunta], [Texto], [Correta], [Ativo]) VALUES (19, 5, N'A etapa "Build" será tentada novamente.', 0, 1)
INSERT [dbo].[Resposta] ([CodigoResposta], [CodigoPergunta], [Texto], [Correta], [Ativo]) VALUES (20, 5, N'A etapa "Build" será ignorada e a etapa "Staging" será iniciada.', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Resposta] OFF
GO
SET IDENTITY_INSERT [dbo].[Simulado] ON 

INSERT [dbo].[Simulado] ([CodigoSimulado], [CodigoUsuario], [CodigoProva], [DataDoSimulado], [QuantidadeDeQuestoes], [PontosDisputados], [PontosConquistados], [Percentual], [Aprovado], [TempoDeProvaEmMinutos], [Finalizado]) VALUES (121, 1, 2, CAST(N'2023-02-07T00:17:15.303' AS DateTime), 4, 0, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, NULL, 0)
INSERT [dbo].[Simulado] ([CodigoSimulado], [CodigoUsuario], [CodigoProva], [DataDoSimulado], [QuantidadeDeQuestoes], [PontosDisputados], [PontosConquistados], [Percentual], [Aprovado], [TempoDeProvaEmMinutos], [Finalizado]) VALUES (122, 1, 2, CAST(N'2023-02-07T00:18:06.447' AS DateTime), 4, 0, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, NULL, 0)
INSERT [dbo].[Simulado] ([CodigoSimulado], [CodigoUsuario], [CodigoProva], [DataDoSimulado], [QuantidadeDeQuestoes], [PontosDisputados], [PontosConquistados], [Percentual], [Aprovado], [TempoDeProvaEmMinutos], [Finalizado]) VALUES (124, 1, 2, CAST(N'2023-02-07T00:37:36.623' AS DateTime), 5, 0, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Simulado] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([CodigoUsuario], [Nome], [WhatsApp], [Administrador], [Liberado], [DataDeCadastro], [DataDeVencimento]) VALUES (1, N'Administrador', N'11949009387', 1, 1, CAST(N'2022-11-18T00:17:36.357' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Questao] ADD  DEFAULT ((0)) FOR [Acertou]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Administrador]
GO
ALTER TABLE [dbo].[Anotacao]  WITH CHECK ADD FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([CodigoUsuario])
GO
ALTER TABLE [dbo].[Anotacao]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[Dominio]  WITH CHECK ADD FOREIGN KEY([CodigoProva])
REFERENCES [dbo].[Prova] ([CodigoProva])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoSimulado])
REFERENCES [dbo].[Simulado] ([CodigoSimulado])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoQuestao])
REFERENCES [dbo].[Questao] ([CodigoQuestao])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoResposta])
REFERENCES [dbo].[Resposta] ([CodigoResposta])
GO
ALTER TABLE [dbo].[Pergunta]  WITH CHECK ADD FOREIGN KEY([CodigoProva])
REFERENCES [dbo].[Prova] ([CodigoProva])
GO
ALTER TABLE [dbo].[Pergunta]  WITH CHECK ADD FOREIGN KEY([CodigoDominio])
REFERENCES [dbo].[Dominio] ([CodigoDominio])
GO
ALTER TABLE [dbo].[Questao]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[Questao]  WITH CHECK ADD FOREIGN KEY([CodigoSimulado])
REFERENCES [dbo].[Simulado] ([CodigoSimulado])
GO
ALTER TABLE [dbo].[Respondida]  WITH CHECK ADD FOREIGN KEY([CodigoQuestao])
REFERENCES [dbo].[Questao] ([CodigoQuestao])
GO
ALTER TABLE [dbo].[Respondida]  WITH CHECK ADD FOREIGN KEY([CodigoResposta])
REFERENCES [dbo].[Resposta] ([CodigoResposta])
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[ResultadoPorDominio]  WITH CHECK ADD FOREIGN KEY([CodigoDominio])
REFERENCES [dbo].[Dominio] ([CodigoDominio])
GO
ALTER TABLE [dbo].[ResultadoPorDominio]  WITH CHECK ADD FOREIGN KEY([CodigoSimulado])
REFERENCES [dbo].[Simulado] ([CodigoSimulado])
GO
ALTER TABLE [dbo].[Simulado]  WITH CHECK ADD FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([CodigoUsuario])
GO
ALTER TABLE [dbo].[Simulado]  WITH CHECK ADD FOREIGN KEY([CodigoProva])
REFERENCES [dbo].[Prova] ([CodigoProva])
GO
