USE [SimuladoCertificacao]
GO
/****** Object:  Table [dbo].[Dominio]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dominio](
	[CodigoDominio] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](255) NOT NULL,
	[CodigoProva] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoDominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogDeErro]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDeErro](
	[CodigoLogDeErro] [int] IDENTITY(1,1) NOT NULL,
	[Erro] [varchar](max) NOT NULL,
	[Acao] [varchar](200) NOT NULL,
	[CodigoUsuario] [int] NULL,
	[DataHoraDoErro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoLogDeErro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdemResposta]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdemResposta](
	[CodigoSimulado] [int] NOT NULL,
	[CodigoPergunta] [int] NOT NULL,
	[CodigoQuestao] [int] NOT NULL,
	[CodigoResposta] [int] NOT NULL,
	[Ordem] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pergunta]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pergunta](
	[CodigoPergunta] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProva] [int] NOT NULL,
	[CodigoDominio] [int] NOT NULL,
	[MultiplaEscolha] [bit] NOT NULL,
	[Texto] [varchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prova]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prova](
	[CodigoProva] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoProva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questao]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questao](
	[CodigoQuestao] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSimulado] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[CodigoPergunta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoQuestao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respondida]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respondida](
	[CodigoQuestao] [int] NOT NULL,
	[CodigoResposta] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resposta]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resposta](
	[CodigoResposta] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPergunta] [int] NOT NULL,
	[Texto] [varchar](max) NOT NULL,
	[Correta] [bit] NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoResposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulado]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulado](
	[CodigoSimulado] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoProva] [int] NOT NULL,
	[DataDoSimulado] [datetime] NOT NULL,
	[QuantidadeDeQuestoes] [int] NOT NULL,
	[PontosDisputados] [int] NOT NULL,
	[PontosConquistados] [decimal](18, 0) NOT NULL,
	[Percentual] [decimal](18, 0) NOT NULL,
	[Aprovado] [bit] NOT NULL,
	[TempoDeProvaEmMinutos] [int] NULL,
	[Finalizado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoSimulado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/12/2022 00:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[CodigoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[WhatsApp] [varchar](20) NOT NULL,
	[Administrador] [bit] NOT NULL,
	[Liberado] [bit] NOT NULL,
	[DataDeCadastro] [datetime] NOT NULL,
	[DataDeVencimento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dominio] ON 

INSERT [dbo].[Dominio] ([CodigoDominio], [Descricao], [CodigoProva]) VALUES (1, N'Domínio 1: Implantação', 2)
INSERT [dbo].[Dominio] ([CodigoDominio], [Descricao], [CodigoProva]) VALUES (2, N'Domínio 1: Implantação', 2)
INSERT [dbo].[Dominio] ([CodigoDominio], [Descricao], [CodigoProva]) VALUES (3, N'Domínio 2: Segurança', 2)
SET IDENTITY_INSERT [dbo].[Dominio] OFF
GO
INSERT [dbo].[OrdemResposta] ([CodigoSimulado], [CodigoPergunta], [CodigoQuestao], [CodigoResposta], [Ordem]) VALUES (10, 23, 74, 92, N'A')
INSERT [dbo].[OrdemResposta] ([CodigoSimulado], [CodigoPergunta], [CodigoQuestao], [CodigoResposta], [Ordem]) VALUES (10, 23, 74, 91, N'B')
INSERT [dbo].[OrdemResposta] ([CodigoSimulado], [CodigoPergunta], [CodigoQuestao], [CodigoResposta], [Ordem]) VALUES (10, 23, 74, 93, N'C')
GO
SET IDENTITY_INSERT [dbo].[Pergunta] ON 

INSERT [dbo].[Pergunta] ([CodigoPergunta], [CodigoProva], [CodigoDominio], [MultiplaEscolha], [Texto], [Ativo]) VALUES (1, 2, 1, 1, N'Uma organização implantou seus sites estáticos no AWS S3. Agora, o desenvolvedor tem um requisito para fornecer conteúdo dinâmico usando uma solução serverless. Qual combinação de serviços deve ser usada para implementar um aplicativo serverless para o conteúdo dinâmico? (Selecione duas)', 1)
INSERT [dbo].[Pergunta] ([CodigoPergunta], [CodigoProva], [CodigoDominio], [MultiplaEscolha], [Texto], [Ativo]) VALUES (2, 2, 1, 0, N'Um desenvolvedor foi solicitado a criar um ambiente AWS Elastic Beanstalk para um aplicativo web de produção que precisa lidar com milhares de solicitações. Atualmente, o ambiente dev está executando uma instância t1.micro. Qual é a melhor maneira para o desenvolvedor provisionar um novo ambiente de produção com uma instância m4.large em vez de uma t1.micro?', 1)
INSERT [dbo].[Pergunta] ([CodigoPergunta], [CodigoProva], [CodigoDominio], [MultiplaEscolha], [Texto], [Ativo]) VALUES (3, 2, 1, 0, N'Você está usando modelos do AWS SAM para implantar um aplicativo serverless. Qual dos seguintes recursos incorporará aplicativos aninhados de buckets do AWS S3?', 1)
SET IDENTITY_INSERT [dbo].[Pergunta] OFF
GO
SET IDENTITY_INSERT [dbo].[Prova] ON 

INSERT [dbo].[Prova] ([CodigoProva], [Descricao], [Ativo]) VALUES (1, N'AWS Certified Cloud Practitioner', 1)
INSERT [dbo].[Prova] ([CodigoProva], [Descricao], [Ativo]) VALUES (2, N'AWS Certified Developer - Associate', 1)
INSERT [dbo].[Prova] ([CodigoProva], [Descricao], [Ativo]) VALUES (3, N'AWS Certified Solutions Architect - Associate', 1)
SET IDENTITY_INSERT [dbo].[Prova] OFF
GO
SET IDENTITY_INSERT [dbo].[Questao] ON 

INSERT [dbo].[Questao] ([CodigoQuestao], [CodigoSimulado], [Numero], [CodigoPergunta]) VALUES (17, 5, 1, 29)
INSERT [dbo].[Questao] ([CodigoQuestao], [CodigoSimulado], [Numero], [CodigoPergunta]) VALUES (18, 5, 2, 26)
INSERT [dbo].[Questao] ([CodigoQuestao], [CodigoSimulado], [Numero], [CodigoPergunta]) VALUES (19, 5, 3, 6)
GO
SET IDENTITY_INSERT [dbo].[Questao] OFF
GO
INSERT [dbo].[Respondida] ([CodigoQuestao], [CodigoResposta]) VALUES (74, 90)
INSERT [dbo].[Respondida] ([CodigoQuestao], [CodigoResposta]) VALUES (75, 59)
INSERT [dbo].[Respondida] ([CodigoQuestao], [CodigoResposta]) VALUES (76, 106)
GO
SET IDENTITY_INSERT [dbo].[Resposta] ON 

INSERT [dbo].[Resposta] ([CodigoResposta], [CodigoPergunta], [Texto], [Correta], [Ativo]) VALUES (1, 1, N'AWS API Gateway', 1, 1)
INSERT [dbo].[Resposta] ([CodigoResposta], [CodigoPergunta], [Texto], [Correta], [Ativo]) VALUES (2, 1, N'AWS EC2', 0, 1)
INSERT [dbo].[Resposta] ([CodigoResposta], [CodigoPergunta], [Texto], [Correta], [Ativo]) VALUES (3, 1, N'AWS ECS', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Resposta] OFF
GO
SET IDENTITY_INSERT [dbo].[Simulado] ON 

INSERT [dbo].[Simulado] ([CodigoSimulado], [CodigoUsuario], [CodigoProva], [DataDoSimulado], [QuantidadeDeQuestoes], [PontosDisputados], [PontosConquistados], [Percentual], [Aprovado], [TempoDeProvaEmMinutos], [Finalizado]) VALUES (5, 1, 2, CAST(N'2022-12-06T01:07:11.943' AS DateTime), 10, 0, CAST(846 AS Decimal(18, 0)), CAST(85 AS Decimal(18, 0)), 1, 7, 1)
INSERT [dbo].[Simulado] ([CodigoSimulado], [CodigoUsuario], [CodigoProva], [DataDoSimulado], [QuantidadeDeQuestoes], [PontosDisputados], [PontosConquistados], [Percentual], [Aprovado], [TempoDeProvaEmMinutos], [Finalizado]) VALUES (6, 1, 2, CAST(N'2022-12-26T00:51:27.500' AS DateTime), 35, 0, CAST(829 AS Decimal(18, 0)), CAST(83 AS Decimal(18, 0)), 1, 47, 1)
INSERT [dbo].[Simulado] ([CodigoSimulado], [CodigoUsuario], [CodigoProva], [DataDoSimulado], [QuantidadeDeQuestoes], [PontosDisputados], [PontosConquistados], [Percentual], [Aprovado], [TempoDeProvaEmMinutos], [Finalizado]) VALUES (9, 1, 2, CAST(N'2022-12-26T01:44:23.267' AS DateTime), 5, 0, CAST(857 AS Decimal(18, 0)), CAST(86 AS Decimal(18, 0)), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Simulado] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([CodigoUsuario], [Nome], [WhatsApp], [Administrador], [Liberado], [DataDeCadastro], [DataDeVencimento]) VALUES (1, N'Administrador', N'11949009387', 1, 1, CAST(N'2022-11-18T00:17:36.357' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Administrador]
GO
ALTER TABLE [dbo].[Dominio]  WITH CHECK ADD FOREIGN KEY([CodigoProva])
REFERENCES [dbo].[Prova] ([CodigoProva])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoSimulado])
REFERENCES [dbo].[Simulado] ([CodigoSimulado])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoQuestao])
REFERENCES [dbo].[Questao] ([CodigoQuestao])
GO
ALTER TABLE [dbo].[OrdemResposta]  WITH CHECK ADD FOREIGN KEY([CodigoResposta])
REFERENCES [dbo].[Resposta] ([CodigoResposta])
GO
ALTER TABLE [dbo].[Pergunta]  WITH CHECK ADD FOREIGN KEY([CodigoProva])
REFERENCES [dbo].[Prova] ([CodigoProva])
GO
ALTER TABLE [dbo].[Pergunta]  WITH CHECK ADD FOREIGN KEY([CodigoDominio])
REFERENCES [dbo].[Dominio] ([CodigoDominio])
GO
ALTER TABLE [dbo].[Questao]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[Questao]  WITH CHECK ADD FOREIGN KEY([CodigoSimulado])
REFERENCES [dbo].[Simulado] ([CodigoSimulado])
GO
ALTER TABLE [dbo].[Respondida]  WITH CHECK ADD FOREIGN KEY([CodigoQuestao])
REFERENCES [dbo].[Questao] ([CodigoQuestao])
GO
ALTER TABLE [dbo].[Respondida]  WITH CHECK ADD FOREIGN KEY([CodigoResposta])
REFERENCES [dbo].[Resposta] ([CodigoResposta])
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD FOREIGN KEY([CodigoPergunta])
REFERENCES [dbo].[Pergunta] ([CodigoPergunta])
GO
ALTER TABLE [dbo].[Simulado]  WITH CHECK ADD FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([CodigoUsuario])
GO
ALTER TABLE [dbo].[Simulado]  WITH CHECK ADD FOREIGN KEY([CodigoProva])
REFERENCES [dbo].[Prova] ([CodigoProva])
GO
